In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_excel('Questionnaire_in_Persian.xlsx')
data1 = pd.read_excel('cities.xlsx')
data2 = pd.read_excel('provinces.xlsx')

In [4]:
data=pd.DataFrame(data)
data1=pd.DataFrame(data1)
data2=pd.DataFrame(data2)

In [5]:
data1=data1.drop('id', axis=1)
data1=data1.drop('slug', axis=1)
data2=data2.drop('slug', axis=1)
data1.columns.values[1] = "shenase"
data1.columns.values[0] = "shahr"
data2.columns.values[1] = "ostan"
data2.columns.values[0] = "shenase"
data.columns.values[0] = "ostan"
data.columns.values[1] = "question"

In [6]:
data

        ostan                     question
0         کرج                          NaN
1       تهران                         اسمش
2      اصفهان  از اینکه محصولات زیادی داره
3      اردبیل                      گستردگی
4       همدان                 کیفیت و تنوع
...       ...                          ...
34170     ابر                          لاا
34171  اصفهان                          NaN
34172    dghf                          NaN
34173     بیل                          NaN
34174  اصفهان                          NaN

[34175 rows x 2 columns]

In [7]:
data1

         shahr  shenase
0         اسکو        1
1          اهر        1
2       ایلخچی        1
3     آبش احمد        1
4       آذرشهر        1
...        ...      ...
1114    گلبهار       11
1115   قیامدشت        8
1116   بینالود       11
1117  پیربازار       26
1118  رضوانشهر       31

[1119 rows x 2 columns]

In [8]:
data2

    shenase                ostan
0         1       آذربایجان شرقی
1         2       آذربایجان غربی
2         3               اردبیل
3         4               اصفهان
4         5                البرز
5         6                ایلام
6         7                بوشهر
7         8                تهران
8         9   چهارمحال و بختیاری
9        10         خراسان جنوبی
10       11          خراسان رضوی
11       12         خراسان شمالی
12       13              خوزستان
13       14                زنجان
14       15                سمنان
15       16    سیستان و بلوچستان
16       17                 فارس
17       18                قزوین
18       19                   قم
19       20              کردستان
20       21                کرمان
21       22             کرمانشاه
22       23  کهگیلویه و بویراحمد
23       24               گلستان
24       25               لرستان
25       26                گیلان
26       27             مازندران
27       28                مرکزی
28       29              هرمزگان
29       30                همدان
30       31                  یزد

In [9]:
data= data.iloc[:,0:2]
data1 = data1.iloc[:,0:2]
data2= data2.iloc[:,0:2]
data=data.dropna()

In [12]:
data_dict = data2.set_index('shenase').T.to_dict('list')
data_dict

{1: ['آذربایجان شرقی'],
 2: ['آذربایجان غربی'],
 3: ['اردبیل'],
 4: ['اصفهان'],
 5: ['البرز'],
 6: ['ایلام'],
 7: ['بوشهر'],
 8: ['تهران'],
 9: ['چهارمحال و بختیاری'],
 10: ['خراسان جنوبی'],
 11: ['خراسان رضوی'],
 12: ['خراسان شمالی'],
 13: ['خوزستان'],
 14: ['زنجان'],
 15: ['سمنان'],
 16: ['سیستان و بلوچستان'],
 17: ['فارس'],
 18: ['قزوین'],
 19: ['قم'],
 20: ['کردستان'],
 21: ['کرمان'],
 22: ['کرمانشاه'],
 23: ['کهگیلویه و بویراحمد'],
 24: ['گلستان'],
 25: ['لرستان'],
 26: ['گیلان'],
 27: ['مازندران'],
 28: ['مرکزی'],
 29: ['هرمزگان'],
 30: ['همدان'],
 31: ['یزد']}

In [13]:
data1['shenase']

0        1
1        1
2        1
3        1
4        1
        ..
1114    11
1115     8
1116    11
1117    26
1118    31
Name: shenase, Length: 1119, dtype: int64

In [16]:
data1= data1.replace({"shenase": data_dict})

In [17]:
data1

         shahr         shenase
0         اسکو  آذربایجان شرقی
1          اهر  آذربایجان شرقی
2       ایلخچی  آذربایجان شرقی
3     آبش احمد  آذربایجان شرقی
4       آذرشهر  آذربایجان شرقی
...        ...             ...
1114    گلبهار     خراسان رضوی
1115   قیامدشت           تهران
1116   بینالود     خراسان رضوی
1117  پیربازار           گیلان
1118  رضوانشهر             یزد

[1119 rows x 2 columns]

In [ ]:
#print(data['استان محل سکونت'].str.contains('گیلان').index)

In [18]:
# getting the columns of the dataset
columns = list(data.columns)
columns

['ostan', 'question']

In [19]:
# examining missing values
print("Missing values distribution: ")
print(data.isnull().mean())
print("")

Missing values distribution:
ostan       0.0
question    0.0
dtype: float64

In [20]:
# check datatype in each column
print("Column datatypes: ")
print(data.dtypes)

Column datatypes:
ostan       object
question    object
dtype: object

In [21]:
# removing leading and trailing characters from columns with str type
for i in columns:
    data[i] = data[i].str.strip()

In [ ]:
# looping through the columns to fill the entries with NaN values with ""
#for column in columns:
#    data[column] = data[column].fillna("")
    
#data

In [24]:
data['question']=data['question'].str.replace('کیفیتش','کیفیت')
data['question']=data['question'].str.replace('محصولات زیادی','تنوع')
data['question']=data['question'].str.replace('اسمش','اسم')
data['question']=data['question'].str.replace('از اینکه ','')
data['question']=data['question'].str.replace('NaN','')
data['question']=data['question'].str.replace('\n','')
data[1:30]

             ostan                                           question
2           اصفهان                                          تنوع داره
3           اردبیل                                            گستردگی
4            همدان                                       کیفیت و تنوع
5            مرکزی                              ما   و   شوی شا داریم
6             فارس                                         متعهدبودنش
7      خراسان رضوی     چون که خودمون میسازیمش  یعنی کالای ایرانی بودن
8            مرکزی                                               هیچی
9            تهران               وسایلشون برامون ماندگاره مثل خانوادم
10           تهران                                از کیفیت و معرفت
11           تهران
13          اصفهان                          کیفیت خدمات رسانی گارانتی
14           گیلان  از همه وسایل خوشم میاد ولی فعلا در توان من نیس...
16            فارس                           یه جورایی انگار صادق هست
17           تهران                                      کیفیت و خدمات
18  آذربایجان شرقی                                        گارانتی خوب
19  آذربایجان شرقی                        خدمات پس از فروش فوق العاده
21          اصفهان                                           پاسخگویی
22          اصفهان                                   جایزه  و گارانتی
23           تهران
24        مازندران              محصولات متنوع و تولید ایرانی با کیفیت
25           البرز   از کیفیت محصولاتش.پشتیبانی قوی.بروز بودن محصولات
26           تهران                                  تولید در سطح وسیع
27     خراسان رضوی
28           تهران                      قطعات دردسترس وتحویل درب منزل
29     خراسان رضوی
30           تهران                     از خدمات و کیفیت و ایرانی بودش
32     خراسان رضوی                                       از قرعه کشیش
33            فارس                                     دقت بالادرساخت
34           قزوین                                          کیفیت خوب

In [25]:
def splitrows(row):
    words = row.split(' ')
    return words
data['splited provinces']=data['ostan'].apply(splitrows)

In [26]:
ostan=data2['ostan'].tolist()
ostan.append('آذربايجانشرقي')
ostan.append('اذربایجان شرقی')
ostan.append('چهارمحال وبختیاری')
ostan.append('چهار محال و بختیاری')
ostan.append('کرمانشاه')
#created a list of words
out=pd.concat([data['ostan'].str.contains(x,case=False).map({True:x})  for x in ostan],axis=1)
#checking If the 'Name' column contain the word one at a time that are inside the list and that will give a boolean series of True and False and then we are mapping The value of that particular element that is inside list so True becomes that value and False become NaN and then we are concatinating both list of Series on axis=1 so that It becomes a Dataframe
data['ostan']=out.bfill(axis=1).iloc[:,0]
#Backword filling values on axis=1 and getting the 1st column
#Finally:
data['ostan']=data['ostan'].ffill()
#Forward filling the missing values
data['ostan']

1         تهران
2        اصفهان
3        اردبیل
4         همدان
5         مرکزی
          ...
34164     گیلان
34165     گیلان
34167    اصفهان
34169    اصفهان
34170    اصفهان
Name: ostan, Length: 32718, dtype: object

In [27]:
list1= ['اسم','تنوع','کیفیت','سریع','تعهد','ایرانی','ماندگار','گارانتی','خدمت رسانی','خدمات','جایزه','پشتیبانی','در دسترس','به روز بودن','صداقت','تحویل درب منزل','قیمت','نمیدانم','همه چیز','شیک','طراحی','ظاهر','تعهد','تعویض','تمیزی','ظرافت','زیبایی']

In [29]:
#created a list of words
out=pd.concat([data['question'].str.contains(x,case=False).map({True:x})  for x in list1],axis=1)
#checking If the 'Name' column contain the word one at a time that are inside the list and that will give a boolean series of True and False and then we are mapping The value of that particular element that is inside list so True becomes that value and False become NaN and then we are concatinating both list of Series on axis=1 so that It becomes a Dataframe
data['question']=out.bfill(axis=1).iloc[:,0]
#Backword filling values on axis=1 and getting the 1st column
#Finally:
data['question']=data['question'].ffill()
#Forward filling the missing values
data['question'][30:90]

35      کیفیت
36       قیمت
37        اسم
38        اسم
39        اسم
40        اسم
41     ایرانی
42     ایرانی
43      کیفیت
44      کیفیت
45      کیفیت
46      کیفیت
47      کیفیت
48       ظاهر
49       ظاهر
50      صداقت
51      صداقت
52      کیفیت
53        اسم
54        اسم
55        اسم
56    ماندگار
57    ماندگار
58      تعویض
59      تعویض
60        اسم
61    همه چیز
62      خدمات
63      کیفیت
64      کیفیت
65        شیک
66        شیک
67        اسم
68        اسم
69     ایرانی
70       تنوع
71       تنوع
72      کیفیت
73     زیبایی
74     زیبایی
75      خدمات
76      کیفیت
77      کیفیت
78      کیفیت
80      خدمات
81      خدمات
82     ایرانی
83       تنوع
84      کیفیت
85      کیفیت
86        اسم
87      کیفیت
88      کیفیت
90      کیفیت
91      کیفیت
92      کیفیت
93       تعهد
94      کیفیت
95      جایزه
96      جایزه
Name: question, dtype: object

In [30]:

# function to get unique values of a column
def getUnique(data):
    unique_values = set()
    for value in data:
        if type(value) is float:
            unique_values.add(None)
        else:
            values = value.split(", ")
            for i in values:
                unique_values.add(i)
    return list(unique_values)

# getting unique country names
unique_ostan = getUnique(data['ostan'])
unique_ostan

['گلستان',
 'خراسان رضوی',
 'بوشهر',
 'قم',
 'ایلام',
 'کهگیلویه و بویراحمد',
 'آذربايجانشرقي',
 'گیلان',
 'همدان',
 'یزد',
 'آذربایجان غربی',
 'فارس',
 'سمنان',
 'چهارمحال و بختیاری',
 'چهار محال و بختیاری',
 'خوزستان',
 'سیستان و بلوچستان',
 'البرز',
 'خراسان شمالی',
 'اردبیل',
 'کردستان',
 'تهران',
 'کرمان',
 'زنجان',
 'چهارمحال وبختیاری',
 'اذربایجان شرقی',
 'قزوین',
 'خراسان جنوبی',
 'مازندران',
 'هرمزگان',
 'آذربایجان شرقی',
 'لرستان',
 'اصفهان',
 'مرکزی']

In [ ]:
#data.apply(lambda x: levenshtein.distance(x['question'],  list), axis=1)

In [34]:
data.question.value_counts()

کیفیت             12978
ایرانی             3676
اسم                2797
تنوع               2319
خدمات              1734
گارانتی            1401
زیبایی             1378
صداقت              1165
طراحی               916
تعویض               685
قیمت                598
ظاهر                597
تعهد                454
شیک                 435
همه چیز             379
جایزه               321
به روز بودن         223
ظرافت               171
در دسترس            156
پشتیبانی            126
ماندگار              79
سریع                 62
تمیزی                29
نمیدانم              19
تحویل درب منزل       12
خدمت رسانی            8
Name: question, dtype: int64

In [ ]:
#کیفیت، ساخت ایران، اسم، و تنوع بیشترین تعداد تکرار را داشتند

In [35]:
data.ostan.value_counts()

تهران                  7876
خراسان رضوی            4155
اصفهان                 3150
البرز                  1557
کرمان                  1529
گیلان                  1432
فارس                   1387
مازندران               1276
خوزستان                1141
قم                      839
گلستان                  775
آذربایجان شرقی          762
مرکزی                   687
قزوین                   593
همدان                   568
لرستان                  565
اردبیل                  491
یزد                     467
خراسان شمالی            438
زنجان                   413
سمنان                   371
آذربایجان غربی          344
خراسان جنوبی            340
هرمزگان                 295
سیستان و بلوچستان       268
کردستان                 224
چهارمحال و بختیاری      177
بوشهر                   154
ایلام                   146
اذربایجان شرقی          119
چهارمحال وبختیاری        75
کهگیلویه و بویراحمد      51
چهار محال و بختیاری      51
آذربايجانشرقي             2
Name: ostan, dtype: int64